exportPattern("^[^\\.]")
export(fit.gnbp,gen.evidence,absorb.gnbp,plot.gnbp)
import(Rgraphviz,scales,graph)
importFrom("grDevices", "rainbow")
importFrom("graphics", "axis", "layout", "legend", "par", "rect",
              "title")
importFrom("stats", "setNames")
S3method("plot","gnbp")
